.left-0-25-em {
  left: 0.25em;
}
.left-0-5-em {
  left: 0.5em;
}
.left-0-75-em {
  left: 0.75em;
}
.left-1em {
  left: 1em;
}
.left-1-25-em {
  left: 1.25em;
}
.left-1-5-em {
  left: 1.5em;
}
.left-1-75-em {
  left: 1.75em;
}
.left-2em {
  left: 2em;
}
.left-2-25-em {
  left: 2.25em;
}
.left-2-5-em {
  left: 2.5em;
}
.left-2-75-em {
  left: 2.75em;
}
.left-3em {
  left: 3em;
}
.left-3-25-em {
  left: 3.25em;
}
.left-3-5-em {
  left: 3.5em;
}
.left-3-75-em {
  left: 3.75em;
}
.left-4em {
  left: 4em;
}
.left-4-25-em {
  left: 4.25em;
}
.left-4-5-em {
  left: 4.5em;
}
.left-4-75-em {
  left: 4.75em;
}
.left-5em {
  left: 5em;
}
.left-5-25-em {
  left: 5.25em;
}
.left-5-5-em {
  left: 5.5em;
}
.left-5-75-em {
  left: 5.75em;
}
.left-6em {
  left: 6em;
}
.left-6-25-em {
  left: 6.25em;
}
.left-6-5-em {
  left: 6.5em;
}
.left-6-75-em {
  left: 6.75em;
}
.left-7em {
  left: 7em;
}
.left-7-25-em {
  left: 7.25em;
}
.left-7-5-em {
  left: 7.5em;
}
.left-7-75-em {
  left: 7.75em;
}
.left-8em {
  left: 8em;
}
.left-8-25-em {
  left: 8.25em;
}
.left-8-5-em {
  left: 8.5em;
}
.left-8-75-em {
  left: 8.75em;
}
.left-9em {
  left: 9em;
}
.left-9-25-em {
  left: 9.25em;
}
.left-9-5-em {
  left: 9.5em;
}
.left-9-75-em {
  left: 9.75em;
}
.left-10em {
  left: 10em;
}
.left-10-25-em {
  left: 10.25em;
}
.left-10-5-em {
  left: 10.5em;
}
.left-10-75-em {
  left: 10.75em;
}
.left-11em {
  left: 11em;
}
.left-11-25-em {
  left: 11.25em;
}
.left-11-5-em {
  left: 11.5em;
}
.left-11-75-em {
  left: 11.75em;
}
.left-12em {
  left: 12em;
}
.left-12-25-em {
  left: 12.25em;
}
.left-12-5-em {
  left: 12.5em;
}
.left-12-75-em {
  left: 12.75em;
}
.left-13em {
  left: 13em;
}
.left-13-25-em {
  left: 13.25em;
}
.left-13-5-em {
  left: 13.5em;
}
.left-13-75-em {
  left: 13.75em;
}
.left-14em {
  left: 14em;
}
.left-14-25-em {
  left: 14.25em;
}
.left-14-5-em {
  left: 14.5em;
}
.left-14-75-em {
  left: 14.75em;
}
.left-15em {
  left: 15em;
}
.left-15-25-em {
  left: 15.25em;
}
.left-15-5-em {
  left: 15.5em;
}
.left-15-75-em {
  left: 15.75em;
}
.left-16em {
  left: 16em;
}
.left-16-25-em {
  left: 16.25em;
}
.left-16-5-em {
  left: 16.5em;
}
.left-16-75-em {
  left: 16.75em;
}
.left-17em {
  left: 17em;
}
.left-17-25-em {
  left: 17.25em;
}
.left-17-5-em {
  left: 17.5em;
}
.left-17-75-em {
  left: 17.75em;
}
.left-18em {
  left: 18em;
}
.left-18-25-em {
  left: 18.25em;
}
.left-18-5-em {
  left: 18.5em;
}
.left-18-75-em {
  left: 18.75em;
}
.left-19em {
  left: 19em;
}
.left-19-25-em {
  left: 19.25em;
}
.left-19-5-em {
  left: 19.5em;
}
.left-19-75-em {
  left: 19.75em;
}
.left-20em {
  left: 20em;
}
.left-20-25-em {
  left: 20.25em;
}
.left-20-5-em {
  left: 20.5em;
}
.left-20-75-em {
  left: 20.75em;
}
.left-21em {
  left: 21em;
}
.left-21-25-em {
  left: 21.25em;
}
.left-21-5-em {
  left: 21.5em;
}
.left-21-75-em {
  left: 21.75em;
}
.left-22em {
  left: 22em;
}
.left-22-25-em {
  left: 22.25em;
}
.left-22-5-em {
  left: 22.5em;
}
.left-22-75-em {
  left: 22.75em;
}
.left-23em {
  left: 23em;
}
.left-23-25-em {
  left: 23.25em;
}
.left-23-5-em {
  left: 23.5em;
}
.left-23-75-em {
  left: 23.75em;
}
.left-24em {
  left: 24em;
}
.left-24-25-em {
  left: 24.25em;
}
.left-24-5-em {
  left: 24.5em;
}
.left-24-75-em {
  left: 24.75em;
}
.left-25em {
  left: 25em;
}
.left-25-25-em {
  left: 25.25em;
}
.left-25-5-em {
  left: 25.5em;
}
.left-25-75-em {
  left: 25.75em;
}
.left-26em {
  left: 26em;
}
.left-26-25-em {
  left: 26.25em;
}
.left-26-5-em {
  left: 26.5em;
}
.left-26-75-em {
  left: 26.75em;
}
.left-27em {
  left: 27em;
}
.left-27-25-em {
  left: 27.25em;
}
.left-27-5-em {
  left: 27.5em;
}
.left-27-75-em {
  left: 27.75em;
}
.left-28em {
  left: 28em;
}
.left-28-25-em {
  left: 28.25em;
}
.left-28-5-em {
  left: 28.5em;
}
.left-28-75-em {
  left: 28.75em;
}
.left-29em {
  left: 29em;
}
.left-29-25-em {
  left: 29.25em;
}
.left-29-5-em {
  left: 29.5em;
}
.left-29-75-em {
  left: 29.75em;
}
.left-30em {
  left: 30em;
}
