.right-0-25-em {
  right: 0.25em;
}
.right-0-5-em {
  right: 0.5em;
}
.right-0-75-em {
  right: 0.75em;
}
.right-1em {
  right: 1em;
}
.right-1-25-em {
  right: 1.25em;
}
.right-1-5-em {
  right: 1.5em;
}
.right-1-75-em {
  right: 1.75em;
}
.right-2em {
  right: 2em;
}
.right-2-25-em {
  right: 2.25em;
}
.right-2-5-em {
  right: 2.5em;
}
.right-2-75-em {
  right: 2.75em;
}
.right-3em {
  right: 3em;
}
.right-3-25-em {
  right: 3.25em;
}
.right-3-5-em {
  right: 3.5em;
}
.right-3-75-em {
  right: 3.75em;
}
.right-4em {
  right: 4em;
}
.right-4-25-em {
  right: 4.25em;
}
.right-4-5-em {
  right: 4.5em;
}
.right-4-75-em {
  right: 4.75em;
}
.right-5em {
  right: 5em;
}
.right-5-25-em {
  right: 5.25em;
}
.right-5-5-em {
  right: 5.5em;
}
.right-5-75-em {
  right: 5.75em;
}
.right-6em {
  right: 6em;
}
.right-6-25-em {
  right: 6.25em;
}
.right-6-5-em {
  right: 6.5em;
}
.right-6-75-em {
  right: 6.75em;
}
.right-7em {
  right: 7em;
}
.right-7-25-em {
  right: 7.25em;
}
.right-7-5-em {
  right: 7.5em;
}
.right-7-75-em {
  right: 7.75em;
}
.right-8em {
  right: 8em;
}
.right-8-25-em {
  right: 8.25em;
}
.right-8-5-em {
  right: 8.5em;
}
.right-8-75-em {
  right: 8.75em;
}
.right-9em {
  right: 9em;
}
.right-9-25-em {
  right: 9.25em;
}
.right-9-5-em {
  right: 9.5em;
}
.right-9-75-em {
  right: 9.75em;
}
.right-10em {
  right: 10em;
}
.right-10-25-em {
  right: 10.25em;
}
.right-10-5-em {
  right: 10.5em;
}
.right-10-75-em {
  right: 10.75em;
}
.right-11em {
  right: 11em;
}
.right-11-25-em {
  right: 11.25em;
}
.right-11-5-em {
  right: 11.5em;
}
.right-11-75-em {
  right: 11.75em;
}
.right-12em {
  right: 12em;
}
.right-12-25-em {
  right: 12.25em;
}
.right-12-5-em {
  right: 12.5em;
}
.right-12-75-em {
  right: 12.75em;
}
.right-13em {
  right: 13em;
}
.right-13-25-em {
  right: 13.25em;
}
.right-13-5-em {
  right: 13.5em;
}
.right-13-75-em {
  right: 13.75em;
}
.right-14em {
  right: 14em;
}
.right-14-25-em {
  right: 14.25em;
}
.right-14-5-em {
  right: 14.5em;
}
.right-14-75-em {
  right: 14.75em;
}
.right-15em {
  right: 15em;
}
.right-15-25-em {
  right: 15.25em;
}
.right-15-5-em {
  right: 15.5em;
}
.right-15-75-em {
  right: 15.75em;
}
.right-16em {
  right: 16em;
}
.right-16-25-em {
  right: 16.25em;
}
.right-16-5-em {
  right: 16.5em;
}
.right-16-75-em {
  right: 16.75em;
}
.right-17em {
  right: 17em;
}
.right-17-25-em {
  right: 17.25em;
}
.right-17-5-em {
  right: 17.5em;
}
.right-17-75-em {
  right: 17.75em;
}
.right-18em {
  right: 18em;
}
.right-18-25-em {
  right: 18.25em;
}
.right-18-5-em {
  right: 18.5em;
}
.right-18-75-em {
  right: 18.75em;
}
.right-19em {
  right: 19em;
}
.right-19-25-em {
  right: 19.25em;
}
.right-19-5-em {
  right: 19.5em;
}
.right-19-75-em {
  right: 19.75em;
}
.right-20em {
  right: 20em;
}
.right-20-25-em {
  right: 20.25em;
}
.right-20-5-em {
  right: 20.5em;
}
.right-20-75-em {
  right: 20.75em;
}
.right-21em {
  right: 21em;
}
.right-21-25-em {
  right: 21.25em;
}
.right-21-5-em {
  right: 21.5em;
}
.right-21-75-em {
  right: 21.75em;
}
.right-22em {
  right: 22em;
}
.right-22-25-em {
  right: 22.25em;
}
.right-22-5-em {
  right: 22.5em;
}
.right-22-75-em {
  right: 22.75em;
}
.right-23em {
  right: 23em;
}
.right-23-25-em {
  right: 23.25em;
}
.right-23-5-em {
  right: 23.5em;
}
.right-23-75-em {
  right: 23.75em;
}
.right-24em {
  right: 24em;
}
.right-24-25-em {
  right: 24.25em;
}
.right-24-5-em {
  right: 24.5em;
}
.right-24-75-em {
  right: 24.75em;
}
.right-25em {
  right: 25em;
}
.right-25-25-em {
  right: 25.25em;
}
.right-25-5-em {
  right: 25.5em;
}
.right-25-75-em {
  right: 25.75em;
}
.right-26em {
  right: 26em;
}
.right-26-25-em {
  right: 26.25em;
}
.right-26-5-em {
  right: 26.5em;
}
.right-26-75-em {
  right: 26.75em;
}
.right-27em {
  right: 27em;
}
.right-27-25-em {
  right: 27.25em;
}
.right-27-5-em {
  right: 27.5em;
}
.right-27-75-em {
  right: 27.75em;
}
.right-28em {
  right: 28em;
}
.right-28-25-em {
  right: 28.25em;
}
.right-28-5-em {
  right: 28.5em;
}
.right-28-75-em {
  right: 28.75em;
}
.right-29em {
  right: 29em;
}
.right-29-25-em {
  right: 29.25em;
}
.right-29-5-em {
  right: 29.5em;
}
.right-29-75-em {
  right: 29.75em;
}
.right-30em {
  right: 30em;
}
