.border-color-red {
  border-color: red;
}
.border-color-blue {
  border-color: blue;
}
.border-color-green {
  border-color: green;
}
.border-color-yellow {
  border-color: yellow;
}
.border-color-black {
  border-color: black;
}
.border-color-white {
  border-color: white;
}
.border-color-gray {
  border-color: gray;
}
.border-color-orange {
  border-color: orange;
}
.border-color-purple {
  border-color: purple;
}
.border-color-pink {
  border-color: pink;
}
.border-color-brown {
  border-color: brown;
}
.border-color-cyan {
  border-color: cyan;
}
.border-color-magenta {
  border-color: magenta;
}
.border-color-lime {
  border-color: lime;
}
.border-color-teal {
  border-color: teal;
}
.border-color-navy {
  border-color: navy;
}
.border-color-maroon {
  border-color: maroon;
}
.border-color-olive {
  border-color: olive;
}
.border-color-silver {
  border-color: silver;
}
.border-color-gold {
  border-color: gold;
}
.border-color-beige {
  border-color: beige;
}
.border-color-tan {
  border-color: tan;
}
.border-color-ivory {
  border-color: ivory;
}
.border-color-violet {
  border-color: violet;
}
.border-color-indigo {
  border-color: indigo;
}
.border-color-azure {
  border-color: azure;
}
.border-color-coral {
  border-color: coral;
}
.border-color-chartreuse {
  border-color: chartreuse;
}
