.border-top-color-red {
  border-top-color: red;
}
.border-top-color-blue {
  border-top-color: blue;
}
.border-top-color-green {
  border-top-color: green;
}
.border-top-color-yellow {
  border-top-color: yellow;
}
.border-top-color-black {
  border-top-color: black;
}
.border-top-color-white {
  border-top-color: white;
}
.border-top-color-gray {
  border-top-color: gray;
}
.border-top-color-orange {
  border-top-color: orange;
}
.border-top-color-purple {
  border-top-color: purple;
}
.border-top-color-pink {
  border-top-color: pink;
}
.border-top-color-brown {
  border-top-color: brown;
}
.border-top-color-cyan {
  border-top-color: cyan;
}
.border-top-color-magenta {
  border-top-color: magenta;
}
.border-top-color-lime {
  border-top-color: lime;
}
.border-top-color-teal {
  border-top-color: teal;
}
.border-top-color-navy {
  border-top-color: navy;
}
.border-top-color-maroon {
  border-top-color: maroon;
}
.border-top-color-olive {
  border-top-color: olive;
}
.border-top-color-silver {
  border-top-color: silver;
}
.border-top-color-gold {
  border-top-color: gold;
}
.border-top-color-beige {
  border-top-color: beige;
}
.border-top-color-tan {
  border-top-color: tan;
}
.border-top-color-ivory {
  border-top-color: ivory;
}
.border-top-color-violet {
  border-top-color: violet;
}
.border-top-color-indigo {
  border-top-color: indigo;
}
.border-top-color-azure {
  border-top-color: azure;
}
.border-top-color-coral {
  border-top-color: coral;
}
.border-top-color-chartreuse {
  border-top-color: chartreuse;
}
