.border-bottom-color-red {
  border-bottom-color: red;
}
.border-bottom-color-blue {
  border-bottom-color: blue;
}
.border-bottom-color-green {
  border-bottom-color: green;
}
.border-bottom-color-yellow {
  border-bottom-color: yellow;
}
.border-bottom-color-black {
  border-bottom-color: black;
}
.border-bottom-color-white {
  border-bottom-color: white;
}
.border-bottom-color-gray {
  border-bottom-color: gray;
}
.border-bottom-color-orange {
  border-bottom-color: orange;
}
.border-bottom-color-purple {
  border-bottom-color: purple;
}
.border-bottom-color-pink {
  border-bottom-color: pink;
}
.border-bottom-color-brown {
  border-bottom-color: brown;
}
.border-bottom-color-cyan {
  border-bottom-color: cyan;
}
.border-bottom-color-magenta {
  border-bottom-color: magenta;
}
.border-bottom-color-lime {
  border-bottom-color: lime;
}
.border-bottom-color-teal {
  border-bottom-color: teal;
}
.border-bottom-color-navy {
  border-bottom-color: navy;
}
.border-bottom-color-maroon {
  border-bottom-color: maroon;
}
.border-bottom-color-olive {
  border-bottom-color: olive;
}
.border-bottom-color-silver {
  border-bottom-color: silver;
}
.border-bottom-color-gold {
  border-bottom-color: gold;
}
.border-bottom-color-beige {
  border-bottom-color: beige;
}
.border-bottom-color-tan {
  border-bottom-color: tan;
}
.border-bottom-color-ivory {
  border-bottom-color: ivory;
}
.border-bottom-color-violet {
  border-bottom-color: violet;
}
.border-bottom-color-indigo {
  border-bottom-color: indigo;
}
.border-bottom-color-azure {
  border-bottom-color: azure;
}
.border-bottom-color-coral {
  border-bottom-color: coral;
}
.border-bottom-color-chartreuse {
  border-bottom-color: chartreuse;
}
