.border-left-color-red {
  border-left-color: red;
}
.border-left-color-blue {
  border-left-color: blue;
}
.border-left-color-green {
  border-left-color: green;
}
.border-left-color-yellow {
  border-left-color: yellow;
}
.border-left-color-black {
  border-left-color: black;
}
.border-left-color-white {
  border-left-color: white;
}
.border-left-color-gray {
  border-left-color: gray;
}
.border-left-color-orange {
  border-left-color: orange;
}
.border-left-color-purple {
  border-left-color: purple;
}
.border-left-color-pink {
  border-left-color: pink;
}
.border-left-color-brown {
  border-left-color: brown;
}
.border-left-color-cyan {
  border-left-color: cyan;
}
.border-left-color-magenta {
  border-left-color: magenta;
}
.border-left-color-lime {
  border-left-color: lime;
}
.border-left-color-teal {
  border-left-color: teal;
}
.border-left-color-navy {
  border-left-color: navy;
}
.border-left-color-maroon {
  border-left-color: maroon;
}
.border-left-color-olive {
  border-left-color: olive;
}
.border-left-color-silver {
  border-left-color: silver;
}
.border-left-color-gold {
  border-left-color: gold;
}
.border-left-color-beige {
  border-left-color: beige;
}
.border-left-color-tan {
  border-left-color: tan;
}
.border-left-color-ivory {
  border-left-color: ivory;
}
.border-left-color-violet {
  border-left-color: violet;
}
.border-left-color-indigo {
  border-left-color: indigo;
}
.border-left-color-azure {
  border-left-color: azure;
}
.border-left-color-coral {
  border-left-color: coral;
}
.border-left-color-chartreuse {
  border-left-color: chartreuse;
}
