.border-right-color-red {
  border-right-color: red;
}
.border-right-color-blue {
  border-right-color: blue;
}
.border-right-color-green {
  border-right-color: green;
}
.border-right-color-yellow {
  border-right-color: yellow;
}
.border-right-color-black {
  border-right-color: black;
}
.border-right-color-white {
  border-right-color: white;
}
.border-right-color-gray {
  border-right-color: gray;
}
.border-right-color-orange {
  border-right-color: orange;
}
.border-right-color-purple {
  border-right-color: purple;
}
.border-right-color-pink {
  border-right-color: pink;
}
.border-right-color-brown {
  border-right-color: brown;
}
.border-right-color-cyan {
  border-right-color: cyan;
}
.border-right-color-magenta {
  border-right-color: magenta;
}
.border-right-color-lime {
  border-right-color: lime;
}
.border-right-color-teal {
  border-right-color: teal;
}
.border-right-color-navy {
  border-right-color: navy;
}
.border-right-color-maroon {
  border-right-color: maroon;
}
.border-right-color-olive {
  border-right-color: olive;
}
.border-right-color-silver {
  border-right-color: silver;
}
.border-right-color-gold {
  border-right-color: gold;
}
.border-right-color-beige {
  border-right-color: beige;
}
.border-right-color-tan {
  border-right-color: tan;
}
.border-right-color-ivory {
  border-right-color: ivory;
}
.border-right-color-violet {
  border-right-color: violet;
}
.border-right-color-indigo {
  border-right-color: indigo;
}
.border-right-color-azure {
  border-right-color: azure;
}
.border-right-color-coral {
  border-right-color: coral;
}
.border-right-color-chartreuse {
  border-right-color: chartreuse;
}
