.border-left-width-0-25-em {
  border-left-width: 0.25em;
}
.border-left-width-0-5-em {
  border-left-width: 0.5em;
}
.border-left-width-0-75-em {
  border-left-width: 0.75em;
}
.border-left-width-1em {
  border-left-width: 1em;
}
.border-left-width-1-25-em {
  border-left-width: 1.25em;
}
.border-left-width-1-5-em {
  border-left-width: 1.5em;
}
.border-left-width-1-75-em {
  border-left-width: 1.75em;
}
.border-left-width-2em {
  border-left-width: 2em;
}
.border-left-width-2-25-em {
  border-left-width: 2.25em;
}
.border-left-width-2-5-em {
  border-left-width: 2.5em;
}
.border-left-width-2-75-em {
  border-left-width: 2.75em;
}
.border-left-width-3em {
  border-left-width: 3em;
}
.border-left-width-3-25-em {
  border-left-width: 3.25em;
}
.border-left-width-3-5-em {
  border-left-width: 3.5em;
}
.border-left-width-3-75-em {
  border-left-width: 3.75em;
}
.border-left-width-4em {
  border-left-width: 4em;
}
.border-left-width-4-25-em {
  border-left-width: 4.25em;
}
.border-left-width-4-5-em {
  border-left-width: 4.5em;
}
.border-left-width-4-75-em {
  border-left-width: 4.75em;
}
.border-left-width-5em {
  border-left-width: 5em;
}
.border-left-width-5-25-em {
  border-left-width: 5.25em;
}
.border-left-width-5-5-em {
  border-left-width: 5.5em;
}
.border-left-width-5-75-em {
  border-left-width: 5.75em;
}
.border-left-width-6em {
  border-left-width: 6em;
}
.border-left-width-6-25-em {
  border-left-width: 6.25em;
}
.border-left-width-6-5-em {
  border-left-width: 6.5em;
}
.border-left-width-6-75-em {
  border-left-width: 6.75em;
}
.border-left-width-7em {
  border-left-width: 7em;
}
.border-left-width-7-25-em {
  border-left-width: 7.25em;
}
.border-left-width-7-5-em {
  border-left-width: 7.5em;
}
.border-left-width-7-75-em {
  border-left-width: 7.75em;
}
.border-left-width-8em {
  border-left-width: 8em;
}
.border-left-width-8-25-em {
  border-left-width: 8.25em;
}
.border-left-width-8-5-em {
  border-left-width: 8.5em;
}
.border-left-width-8-75-em {
  border-left-width: 8.75em;
}
.border-left-width-9em {
  border-left-width: 9em;
}
.border-left-width-9-25-em {
  border-left-width: 9.25em;
}
.border-left-width-9-5-em {
  border-left-width: 9.5em;
}
.border-left-width-9-75-em {
  border-left-width: 9.75em;
}
.border-left-width-10em {
  border-left-width: 10em;
}
.border-left-width-10-25-em {
  border-left-width: 10.25em;
}
.border-left-width-10-5-em {
  border-left-width: 10.5em;
}
.border-left-width-10-75-em {
  border-left-width: 10.75em;
}
.border-left-width-11em {
  border-left-width: 11em;
}
.border-left-width-11-25-em {
  border-left-width: 11.25em;
}
.border-left-width-11-5-em {
  border-left-width: 11.5em;
}
.border-left-width-11-75-em {
  border-left-width: 11.75em;
}
.border-left-width-12em {
  border-left-width: 12em;
}
.border-left-width-12-25-em {
  border-left-width: 12.25em;
}
.border-left-width-12-5-em {
  border-left-width: 12.5em;
}
.border-left-width-12-75-em {
  border-left-width: 12.75em;
}
.border-left-width-13em {
  border-left-width: 13em;
}
.border-left-width-13-25-em {
  border-left-width: 13.25em;
}
.border-left-width-13-5-em {
  border-left-width: 13.5em;
}
.border-left-width-13-75-em {
  border-left-width: 13.75em;
}
.border-left-width-14em {
  border-left-width: 14em;
}
.border-left-width-14-25-em {
  border-left-width: 14.25em;
}
.border-left-width-14-5-em {
  border-left-width: 14.5em;
}
.border-left-width-14-75-em {
  border-left-width: 14.75em;
}
.border-left-width-15em {
  border-left-width: 15em;
}
.border-left-width-15-25-em {
  border-left-width: 15.25em;
}
.border-left-width-15-5-em {
  border-left-width: 15.5em;
}
.border-left-width-15-75-em {
  border-left-width: 15.75em;
}
.border-left-width-16em {
  border-left-width: 16em;
}
.border-left-width-16-25-em {
  border-left-width: 16.25em;
}
.border-left-width-16-5-em {
  border-left-width: 16.5em;
}
.border-left-width-16-75-em {
  border-left-width: 16.75em;
}
.border-left-width-17em {
  border-left-width: 17em;
}
.border-left-width-17-25-em {
  border-left-width: 17.25em;
}
.border-left-width-17-5-em {
  border-left-width: 17.5em;
}
.border-left-width-17-75-em {
  border-left-width: 17.75em;
}
.border-left-width-18em {
  border-left-width: 18em;
}
.border-left-width-18-25-em {
  border-left-width: 18.25em;
}
.border-left-width-18-5-em {
  border-left-width: 18.5em;
}
.border-left-width-18-75-em {
  border-left-width: 18.75em;
}
.border-left-width-19em {
  border-left-width: 19em;
}
.border-left-width-19-25-em {
  border-left-width: 19.25em;
}
.border-left-width-19-5-em {
  border-left-width: 19.5em;
}
.border-left-width-19-75-em {
  border-left-width: 19.75em;
}
.border-left-width-20em {
  border-left-width: 20em;
}
.border-left-width-20-25-em {
  border-left-width: 20.25em;
}
.border-left-width-20-5-em {
  border-left-width: 20.5em;
}
.border-left-width-20-75-em {
  border-left-width: 20.75em;
}
.border-left-width-21em {
  border-left-width: 21em;
}
.border-left-width-21-25-em {
  border-left-width: 21.25em;
}
.border-left-width-21-5-em {
  border-left-width: 21.5em;
}
.border-left-width-21-75-em {
  border-left-width: 21.75em;
}
.border-left-width-22em {
  border-left-width: 22em;
}
.border-left-width-22-25-em {
  border-left-width: 22.25em;
}
.border-left-width-22-5-em {
  border-left-width: 22.5em;
}
.border-left-width-22-75-em {
  border-left-width: 22.75em;
}
.border-left-width-23em {
  border-left-width: 23em;
}
.border-left-width-23-25-em {
  border-left-width: 23.25em;
}
.border-left-width-23-5-em {
  border-left-width: 23.5em;
}
.border-left-width-23-75-em {
  border-left-width: 23.75em;
}
.border-left-width-24em {
  border-left-width: 24em;
}
.border-left-width-24-25-em {
  border-left-width: 24.25em;
}
.border-left-width-24-5-em {
  border-left-width: 24.5em;
}
.border-left-width-24-75-em {
  border-left-width: 24.75em;
}
.border-left-width-25em {
  border-left-width: 25em;
}
.border-left-width-25-25-em {
  border-left-width: 25.25em;
}
.border-left-width-25-5-em {
  border-left-width: 25.5em;
}
.border-left-width-25-75-em {
  border-left-width: 25.75em;
}
.border-left-width-26em {
  border-left-width: 26em;
}
.border-left-width-26-25-em {
  border-left-width: 26.25em;
}
.border-left-width-26-5-em {
  border-left-width: 26.5em;
}
.border-left-width-26-75-em {
  border-left-width: 26.75em;
}
.border-left-width-27em {
  border-left-width: 27em;
}
.border-left-width-27-25-em {
  border-left-width: 27.25em;
}
.border-left-width-27-5-em {
  border-left-width: 27.5em;
}
.border-left-width-27-75-em {
  border-left-width: 27.75em;
}
.border-left-width-28em {
  border-left-width: 28em;
}
.border-left-width-28-25-em {
  border-left-width: 28.25em;
}
.border-left-width-28-5-em {
  border-left-width: 28.5em;
}
.border-left-width-28-75-em {
  border-left-width: 28.75em;
}
.border-left-width-29em {
  border-left-width: 29em;
}
.border-left-width-29-25-em {
  border-left-width: 29.25em;
}
.border-left-width-29-5-em {
  border-left-width: 29.5em;
}
.border-left-width-29-75-em {
  border-left-width: 29.75em;
}
.border-left-width-30em {
  border-left-width: 30em;
}
