.border-radius-0-25em {
  border-radius: 0.25em;
}
.border-radius-0-5em {
  border-radius: 0.5em;
}
.border-radius-0-75em {
  border-radius: 0.75em;
}
.border-radius-1em {
  border-radius: 1em;
}
.border-radius-1-25em {
  border-radius: 1.25em;
}
.border-radius-1-5em {
  border-radius: 1.5em;
}
.border-radius-1-75em {
  border-radius: 1.75em;
}
.border-radius-2em {
  border-radius: 2em;
}
.border-radius-2-25em {
  border-radius: 2.25em;
}
.border-radius-2-5em {
  border-radius: 2.5em;
}
.border-radius-2-75em {
  border-radius: 2.75em;
}
.border-radius-3em {
  border-radius: 3em;
}
.border-radius-3-25em {
  border-radius: 3.25em;
}
.border-radius-3-5em {
  border-radius: 3.5em;
}
.border-radius-3-75em {
  border-radius: 3.75em;
}
.border-radius-4em {
  border-radius: 4em;
}
.border-radius-4-25em {
  border-radius: 4.25em;
}
.border-radius-4-5em {
  border-radius: 4.5em;
}
.border-radius-4-75em {
  border-radius: 4.75em;
}
.border-radius-5em {
  border-radius: 5em;
}
.border-radius-5-25em {
  border-radius: 5.25em;
}
.border-radius-5-5em {
  border-radius: 5.5em;
}
.border-radius-5-75em {
  border-radius: 5.75em;
}
.border-radius-6em {
  border-radius: 6em;
}
.border-radius-6-25em {
  border-radius: 6.25em;
}
.border-radius-6-5em {
  border-radius: 6.5em;
}
.border-radius-6-75em {
  border-radius: 6.75em;
}
.border-radius-7em {
  border-radius: 7em;
}
.border-radius-7-25em {
  border-radius: 7.25em;
}
.border-radius-7-5em {
  border-radius: 7.5em;
}
.border-radius-7-75em {
  border-radius: 7.75em;
}
.border-radius-8em {
  border-radius: 8em;
}
.border-radius-8-25em {
  border-radius: 8.25em;
}
.border-radius-8-5em {
  border-radius: 8.5em;
}
.border-radius-8-75em {
  border-radius: 8.75em;
}
.border-radius-9em {
  border-radius: 9em;
}
.border-radius-9-25em {
  border-radius: 9.25em;
}
.border-radius-9-5em {
  border-radius: 9.5em;
}
.border-radius-9-75em {
  border-radius: 9.75em;
}
.border-radius-10em {
  border-radius: 10em;
}
.border-radius-10-25em {
  border-radius: 10.25em;
}
.border-radius-10-5em {
  border-radius: 10.5em;
}
.border-radius-10-75em {
  border-radius: 10.75em;
}
.border-radius-11em {
  border-radius: 11em;
}
.border-radius-11-25em {
  border-radius: 11.25em;
}
.border-radius-11-5em {
  border-radius: 11.5em;
}
.border-radius-11-75em {
  border-radius: 11.75em;
}
.border-radius-12em {
  border-radius: 12em;
}
.border-radius-12-25em {
  border-radius: 12.25em;
}
.border-radius-12-5em {
  border-radius: 12.5em;
}
.border-radius-12-75em {
  border-radius: 12.75em;
}
.border-radius-13em {
  border-radius: 13em;
}
.border-radius-13-25em {
  border-radius: 13.25em;
}
.border-radius-13-5em {
  border-radius: 13.5em;
}
.border-radius-13-75em {
  border-radius: 13.75em;
}
.border-radius-14em {
  border-radius: 14em;
}
.border-radius-14-25em {
  border-radius: 14.25em;
}
.border-radius-14-5em {
  border-radius: 14.5em;
}
.border-radius-14-75em {
  border-radius: 14.75em;
}
.border-radius-15em {
  border-radius: 15em;
}
.border-radius-15-25em {
  border-radius: 15.25em;
}
.border-radius-15-5em {
  border-radius: 15.5em;
}
.border-radius-15-75em {
  border-radius: 15.75em;
}
.border-radius-16em {
  border-radius: 16em;
}
.border-radius-16-25em {
  border-radius: 16.25em;
}
.border-radius-16-5em {
  border-radius: 16.5em;
}
.border-radius-16-75em {
  border-radius: 16.75em;
}
.border-radius-17em {
  border-radius: 17em;
}
.border-radius-17-25em {
  border-radius: 17.25em;
}
.border-radius-17-5em {
  border-radius: 17.5em;
}
.border-radius-17-75em {
  border-radius: 17.75em;
}
.border-radius-18em {
  border-radius: 18em;
}
.border-radius-18-25em {
  border-radius: 18.25em;
}
.border-radius-18-5em {
  border-radius: 18.5em;
}
.border-radius-18-75em {
  border-radius: 18.75em;
}
.border-radius-19em {
  border-radius: 19em;
}
.border-radius-19-25em {
  border-radius: 19.25em;
}
.border-radius-19-5em {
  border-radius: 19.5em;
}
.border-radius-19-75em {
  border-radius: 19.75em;
}
.border-radius-20em {
  border-radius: 20em;
}
.border-radius-20-25em {
  border-radius: 20.25em;
}
.border-radius-20-5em {
  border-radius: 20.5em;
}
.border-radius-20-75em {
  border-radius: 20.75em;
}
.border-radius-21em {
  border-radius: 21em;
}
.border-radius-21-25em {
  border-radius: 21.25em;
}
.border-radius-21-5em {
  border-radius: 21.5em;
}
.border-radius-21-75em {
  border-radius: 21.75em;
}
.border-radius-22em {
  border-radius: 22em;
}
.border-radius-22-25em {
  border-radius: 22.25em;
}
.border-radius-22-5em {
  border-radius: 22.5em;
}
.border-radius-22-75em {
  border-radius: 22.75em;
}
.border-radius-23em {
  border-radius: 23em;
}
.border-radius-23-25em {
  border-radius: 23.25em;
}
.border-radius-23-5em {
  border-radius: 23.5em;
}
.border-radius-23-75em {
  border-radius: 23.75em;
}
.border-radius-24em {
  border-radius: 24em;
}
.border-radius-24-25em {
  border-radius: 24.25em;
}
.border-radius-24-5em {
  border-radius: 24.5em;
}
.border-radius-24-75em {
  border-radius: 24.75em;
}
.border-radius-25em {
  border-radius: 25em;
}
.border-radius-25-25em {
  border-radius: 25.25em;
}
.border-radius-25-5em {
  border-radius: 25.5em;
}
.border-radius-25-75em {
  border-radius: 25.75em;
}
.border-radius-26em {
  border-radius: 26em;
}
.border-radius-26-25em {
  border-radius: 26.25em;
}
.border-radius-26-5em {
  border-radius: 26.5em;
}
.border-radius-26-75em {
  border-radius: 26.75em;
}
.border-radius-27em {
  border-radius: 27em;
}
.border-radius-27-25em {
  border-radius: 27.25em;
}
.border-radius-27-5em {
  border-radius: 27.5em;
}
.border-radius-27-75em {
  border-radius: 27.75em;
}
.border-radius-28em {
  border-radius: 28em;
}
.border-radius-28-25em {
  border-radius: 28.25em;
}
.border-radius-28-5em {
  border-radius: 28.5em;
}
.border-radius-28-75em {
  border-radius: 28.75em;
}
.border-radius-29em {
  border-radius: 29em;
}
.border-radius-29-25em {
  border-radius: 29.25em;
}
.border-radius-29-5em {
  border-radius: 29.5em;
}
.border-radius-29-75em {
  border-radius: 29.75em;
}
.border-radius-30em {
  border-radius: 30em;
}
