.width-0-25em {
  width: 0.25em;
}
.width-0-5em {
  width: 0.5em;
}
.width-0-75em {
  width: 0.75em;
}
.width-1em {
  width: 1em;
}
.width-1-25em {
  width: 1.25em;
}
.width-1-5em {
  width: 1.5em;
}
.width-1-75em {
  width: 1.75em;
}
.width-2em {
  width: 2em;
}
.width-2-25em {
  width: 2.25em;
}
.width-2-5em {
  width: 2.5em;
}
.width-2-75em {
  width: 2.75em;
}
.width-3em {
  width: 3em;
}
.width-3-25em {
  width: 3.25em;
}
.width-3-5em {
  width: 3.5em;
}
.width-3-75em {
  width: 3.75em;
}
.width-4em {
  width: 4em;
}
.width-4-25em {
  width: 4.25em;
}
.width-4-5em {
  width: 4.5em;
}
.width-4-75em {
  width: 4.75em;
}
.width-5em {
  width: 5em;
}
.width-5-25em {
  width: 5.25em;
}
.width-5-5em {
  width: 5.5em;
}
.width-5-75em {
  width: 5.75em;
}
.width-6em {
  width: 6em;
}
.width-6-25em {
  width: 6.25em;
}
.width-6-5em {
  width: 6.5em;
}
.width-6-75em {
  width: 6.75em;
}
.width-7em {
  width: 7em;
}
.width-7-25em {
  width: 7.25em;
}
.width-7-5em {
  width: 7.5em;
}
.width-7-75em {
  width: 7.75em;
}
.width-8em {
  width: 8em;
}
.width-8-25em {
  width: 8.25em;
}
.width-8-5em {
  width: 8.5em;
}
.width-8-75em {
  width: 8.75em;
}
.width-9em {
  width: 9em;
}
.width-9-25em {
  width: 9.25em;
}
.width-9-5em {
  width: 9.5em;
}
.width-9-75em {
  width: 9.75em;
}
.width-10em {
  width: 10em;
}
.width-10-25em {
  width: 10.25em;
}
.width-10-5em {
  width: 10.5em;
}
.width-10-75em {
  width: 10.75em;
}
.width-11em {
  width: 11em;
}
.width-11-25em {
  width: 11.25em;
}
.width-11-5em {
  width: 11.5em;
}
.width-11-75em {
  width: 11.75em;
}
.width-12em {
  width: 12em;
}
.width-12-25em {
  width: 12.25em;
}
.width-12-5em {
  width: 12.5em;
}
.width-12-75em {
  width: 12.75em;
}
.width-13em {
  width: 13em;
}
.width-13-25em {
  width: 13.25em;
}
.width-13-5em {
  width: 13.5em;
}
.width-13-75em {
  width: 13.75em;
}
.width-14em {
  width: 14em;
}
.width-14-25em {
  width: 14.25em;
}
.width-14-5em {
  width: 14.5em;
}
.width-14-75em {
  width: 14.75em;
}
.width-15em {
  width: 15em;
}
.width-15-25em {
  width: 15.25em;
}
.width-15-5em {
  width: 15.5em;
}
.width-15-75em {
  width: 15.75em;
}
.width-16em {
  width: 16em;
}
.width-16-25em {
  width: 16.25em;
}
.width-16-5em {
  width: 16.5em;
}
.width-16-75em {
  width: 16.75em;
}
.width-17em {
  width: 17em;
}
.width-17-25em {
  width: 17.25em;
}
.width-17-5em {
  width: 17.5em;
}
.width-17-75em {
  width: 17.75em;
}
.width-18em {
  width: 18em;
}
.width-18-25em {
  width: 18.25em;
}
.width-18-5em {
  width: 18.5em;
}
.width-18-75em {
  width: 18.75em;
}
.width-19em {
  width: 19em;
}
.width-19-25em {
  width: 19.25em;
}
.width-19-5em {
  width: 19.5em;
}
.width-19-75em {
  width: 19.75em;
}
.width-20em {
  width: 20em;
}
.width-20-25em {
  width: 20.25em;
}
.width-20-5em {
  width: 20.5em;
}
.width-20-75em {
  width: 20.75em;
}
.width-21em {
  width: 21em;
}
.width-21-25em {
  width: 21.25em;
}
.width-21-5em {
  width: 21.5em;
}
.width-21-75em {
  width: 21.75em;
}
.width-22em {
  width: 22em;
}
.width-22-25em {
  width: 22.25em;
}
.width-22-5em {
  width: 22.5em;
}
.width-22-75em {
  width: 22.75em;
}
.width-23em {
  width: 23em;
}
.width-23-25em {
  width: 23.25em;
}
.width-23-5em {
  width: 23.5em;
}
.width-23-75em {
  width: 23.75em;
}
.width-24em {
  width: 24em;
}
.width-24-25em {
  width: 24.25em;
}
.width-24-5em {
  width: 24.5em;
}
.width-24-75em {
  width: 24.75em;
}
.width-25em {
  width: 25em;
}
.width-25-25em {
  width: 25.25em;
}
.width-25-5em {
  width: 25.5em;
}
.width-25-75em {
  width: 25.75em;
}
.width-26em {
  width: 26em;
}
.width-26-25em {
  width: 26.25em;
}
.width-26-5em {
  width: 26.5em;
}
.width-26-75em {
  width: 26.75em;
}
.width-27em {
  width: 27em;
}
.width-27-25em {
  width: 27.25em;
}
.width-27-5em {
  width: 27.5em;
}
.width-27-75em {
  width: 27.75em;
}
.width-28em {
  width: 28em;
}
.width-28-25em {
  width: 28.25em;
}
.width-28-5em {
  width: 28.5em;
}
.width-28-75em {
  width: 28.75em;
}
.width-29em {
  width: 29em;
}
.width-29-25em {
  width: 29.25em;
}
.width-29-5em {
  width: 29.5em;
}
.width-29-75em {
  width: 29.75em;
}
.width-30em {
  width: 30em;
}
.width-30-25em {
  width: 30.25em;
}
.width-30-5em {
  width: 30.5em;
}
.width-30-75em {
  width: 30.75em;
}
.width-31em {
  width: 31em;
}
.width-31-25em {
  width: 31.25em;
}
.width-31-5em {
  width: 31.5em;
}
.width-31-75em {
  width: 31.75em;
}
.width-32em {
  width: 32em;
}
.width-32-25em {
  width: 32.25em;
}
.width-32-5em {
  width: 32.5em;
}
.width-32-75em {
  width: 32.75em;
}
.width-33em {
  width: 33em;
}
.width-33-25em {
  width: 33.25em;
}
.width-33-5em {
  width: 33.5em;
}
.width-33-75em {
  width: 33.75em;
}
.width-34em {
  width: 34em;
}
.width-34-25em {
  width: 34.25em;
}
.width-34-5em {
  width: 34.5em;
}
.width-34-75em {
  width: 34.75em;
}
.width-35em {
  width: 35em;
}
.width-35-25em {
  width: 35.25em;
}
.width-35-5em {
  width: 35.5em;
}
.width-35-75em {
  width: 35.75em;
}
.width-36em {
  width: 36em;
}
.width-36-25em {
  width: 36.25em;
}
.width-36-5em {
  width: 36.5em;
}
.width-36-75em {
  width: 36.75em;
}
.width-37em {
  width: 37em;
}
.width-37-25em {
  width: 37.25em;
}
.width-37-5em {
  width: 37.5em;
}
.width-37-75em {
  width: 37.75em;
}
.width-38em {
  width: 38em;
}
.width-38-25em {
  width: 38.25em;
}
.width-38-5em {
  width: 38.5em;
}
.width-38-75em {
  width: 38.75em;
}
.width-39em {
  width: 39em;
}
.width-39-25em {
  width: 39.25em;
}
.width-39-5em {
  width: 39.5em;
}
.width-39-75em {
  width: 39.75em;
}
.width-40em {
  width: 40em;
}
