.margin-0-25em {
  margin: 0.25em;
}
.margin-0-5em {
  margin: 0.5em;
}
.margin-0-75em {
  margin: 0.75em;
}
.margin-1em {
  margin: 1em;
}
.margin-1-25em {
  margin: 1.25em;
}
.margin-1-5em {
  margin: 1.5em;
}
.margin-1-75em {
  margin: 1.75em;
}
.margin-2em {
  margin: 2em;
}
.margin-2-25em {
  margin: 2.25em;
}
.margin-2-5em {
  margin: 2.5em;
}
.margin-2-75em {
  margin: 2.75em;
}
.margin-3em {
  margin: 3em;
}
.margin-3-25em {
  margin: 3.25em;
}
.margin-3-5em {
  margin: 3.5em;
}
.margin-3-75em {
  margin: 3.75em;
}
.margin-4em {
  margin: 4em;
}
.margin-4-25em {
  margin: 4.25em;
}
.margin-4-5em {
  margin: 4.5em;
}
.margin-4-75em {
  margin: 4.75em;
}
.margin-5em {
  margin: 5em;
}
.margin-5-25em {
  margin: 5.25em;
}
.margin-5-5em {
  margin: 5.5em;
}
.margin-5-75em {
  margin: 5.75em;
}
.margin-6em {
  margin: 6em;
}
.margin-6-25em {
  margin: 6.25em;
}
.margin-6-5em {
  margin: 6.5em;
}
.margin-6-75em {
  margin: 6.75em;
}
.margin-7em {
  margin: 7em;
}
.margin-7-25em {
  margin: 7.25em;
}
.margin-7-5em {
  margin: 7.5em;
}
.margin-7-75em {
  margin: 7.75em;
}
.margin-8em {
  margin: 8em;
}
.margin-8-25em {
  margin: 8.25em;
}
.margin-8-5em {
  margin: 8.5em;
}
.margin-8-75em {
  margin: 8.75em;
}
.margin-9em {
  margin: 9em;
}
.margin-9-25em {
  margin: 9.25em;
}
.margin-9-5em {
  margin: 9.5em;
}
.margin-9-75em {
  margin: 9.75em;
}
.margin-10em {
  margin: 10em;
}
.margin-10-25em {
  margin: 10.25em;
}
.margin-10-5em {
  margin: 10.5em;
}
.margin-10-75em {
  margin: 10.75em;
}
.margin-11em {
  margin: 11em;
}
.margin-11-25em {
  margin: 11.25em;
}
.margin-11-5em {
  margin: 11.5em;
}
.margin-11-75em {
  margin: 11.75em;
}
.margin-12em {
  margin: 12em;
}
.margin-12-25em {
  margin: 12.25em;
}
.margin-12-5em {
  margin: 12.5em;
}
.margin-12-75em {
  margin: 12.75em;
}
.margin-13em {
  margin: 13em;
}
.margin-13-25em {
  margin: 13.25em;
}
.margin-13-5em {
  margin: 13.5em;
}
.margin-13-75em {
  margin: 13.75em;
}
.margin-14em {
  margin: 14em;
}
.margin-14-25em {
  margin: 14.25em;
}
.margin-14-5em {
  margin: 14.5em;
}
.margin-14-75em {
  margin: 14.75em;
}
.margin-15em {
  margin: 15em;
}
.margin-15-25em {
  margin: 15.25em;
}
.margin-15-5em {
  margin: 15.5em;
}
.margin-15-75em {
  margin: 15.75em;
}
.margin-16em {
  margin: 16em;
}
.margin-16-25em {
  margin: 16.25em;
}
.margin-16-5em {
  margin: 16.5em;
}
.margin-16-75em {
  margin: 16.75em;
}
.margin-17em {
  margin: 17em;
}
.margin-17-25em {
  margin: 17.25em;
}
.margin-17-5em {
  margin: 17.5em;
}
.margin-17-75em {
  margin: 17.75em;
}
.margin-18em {
  margin: 18em;
}
.margin-18-25em {
  margin: 18.25em;
}
.margin-18-5em {
  margin: 18.5em;
}
.margin-18-75em {
  margin: 18.75em;
}
.margin-19em {
  margin: 19em;
}
.margin-19-25em {
  margin: 19.25em;
}
.margin-19-5em {
  margin: 19.5em;
}
.margin-19-75em {
  margin: 19.75em;
}
.margin-20em {
  margin: 20em;
}
.margin-20-25em {
  margin: 20.25em;
}
.margin-20-5em {
  margin: 20.5em;
}
.margin-20-75em {
  margin: 20.75em;
}
.margin-21em {
  margin: 21em;
}
.margin-21-25em {
  margin: 21.25em;
}
.margin-21-5em {
  margin: 21.5em;
}
.margin-21-75em {
  margin: 21.75em;
}
.margin-22em {
  margin: 22em;
}
.margin-22-25em {
  margin: 22.25em;
}
.margin-22-5em {
  margin: 22.5em;
}
.margin-22-75em {
  margin: 22.75em;
}
.margin-23em {
  margin: 23em;
}
.margin-23-25em {
  margin: 23.25em;
}
.margin-23-5em {
  margin: 23.5em;
}
.margin-23-75em {
  margin: 23.75em;
}
.margin-24em {
  margin: 24em;
}
.margin-24-25em {
  margin: 24.25em;
}
.margin-24-5em {
  margin: 24.5em;
}
.margin-24-75em {
  margin: 24.75em;
}
.margin-25em {
  margin: 25em;
}
.margin-25-25em {
  margin: 25.25em;
}
.margin-25-5em {
  margin: 25.5em;
}
.margin-25-75em {
  margin: 25.75em;
}
.margin-26em {
  margin: 26em;
}
.margin-26-25em {
  margin: 26.25em;
}
.margin-26-5em {
  margin: 26.5em;
}
.margin-26-75em {
  margin: 26.75em;
}
.margin-27em {
  margin: 27em;
}
.margin-27-25em {
  margin: 27.25em;
}
.margin-27-5em {
  margin: 27.5em;
}
.margin-27-75em {
  margin: 27.75em;
}
.margin-28em {
  margin: 28em;
}
.margin-28-25em {
  margin: 28.25em;
}
.margin-28-5em {
  margin: 28.5em;
}
.margin-28-75em {
  margin: 28.75em;
}
.margin-29em {
  margin: 29em;
}
.margin-29-25em {
  margin: 29.25em;
}
.margin-29-5em {
  margin: 29.5em;
}
.margin-29-75em {
  margin: 29.75em;
}
.margin-30em {
  margin: 30em;
}
.margin-30-25em {
  margin: 30.25em;
}
.margin-30-5em {
  margin: 30.5em;
}
.margin-30-75em {
  margin: 30.75em;
}
.margin-31em {
  margin: 31em;
}
.margin-31-25em {
  margin: 31.25em;
}
.margin-31-5em {
  margin: 31.5em;
}
.margin-31-75em {
  margin: 31.75em;
}
.margin-32em {
  margin: 32em;
}
.margin-32-25em {
  margin: 32.25em;
}
.margin-32-5em {
  margin: 32.5em;
}
.margin-32-75em {
  margin: 32.75em;
}
.margin-33em {
  margin: 33em;
}
.margin-33-25em {
  margin: 33.25em;
}
.margin-33-5em {
  margin: 33.5em;
}
.margin-33-75em {
  margin: 33.75em;
}
.margin-34em {
  margin: 34em;
}
.margin-34-25em {
  margin: 34.25em;
}
.margin-34-5em {
  margin: 34.5em;
}
.margin-34-75em {
  margin: 34.75em;
}
.margin-35em {
  margin: 35em;
}
.margin-35-25em {
  margin: 35.25em;
}
.margin-35-5em {
  margin: 35.5em;
}
.margin-35-75em {
  margin: 35.75em;
}
.margin-36em {
  margin: 36em;
}
.margin-36-25em {
  margin: 36.25em;
}
.margin-36-5em {
  margin: 36.5em;
}
.margin-36-75em {
  margin: 36.75em;
}
.margin-37em {
  margin: 37em;
}
.margin-37-25em {
  margin: 37.25em;
}
.margin-37-5em {
  margin: 37.5em;
}
.margin-37-75em {
  margin: 37.75em;
}
.margin-38em {
  margin: 38em;
}
.margin-38-25em {
  margin: 38.25em;
}
.margin-38-5em {
  margin: 38.5em;
}
.margin-38-75em {
  margin: 38.75em;
}
.margin-39em {
  margin: 39em;
}
.margin-39-25em {
  margin: 39.25em;
}
.margin-39-5em {
  margin: 39.5em;
}
.margin-39-75em {
  margin: 39.75em;
}
.margin-40em {
  margin: 40em;
}
