.color-red {
  color: red;
}
.color-blue {
  color: blue;
}
.color-green {
  color: green;
}
.color-yellow {
  color: yellow;
}
.color-black {
  color: black;
}
.color-white {
  color: white;
}
.color-gray {
  color: gray;
}
.color-orange {
  color: orange;
}
.color-purple {
  color: purple;
}
.color-pink {
  color: pink;
}
.color-brown {
  color: brown;
}
.color-cyan {
  color: cyan;
}
.color-magenta {
  color: magenta;
}
.color-lime {
  color: lime;
}
.color-teal {
  color: teal;
}
.color-navy {
  color: navy;
}
.color-maroon {
  color: maroon;
}
.color-olive {
  color: olive;
}
.color-silver {
  color: silver;
}
.color-gold {
  color: gold;
}
.color-beige {
  color: beige;
}
.color-tan {
  color: tan;
}
.color-ivory {
  color: ivory;
}
.color-violet {
  color: violet;
}
.color-indigo {
  color: indigo;
}
.color-azure {
  color: azure;
}
.color-coral {
  color: coral;
}
.color-chartreuse {
  color: chartreuse;
}
