.font-size-1em {
  font-size: 1em;
}
.font-size-1-25-em {
  font-size: 1.25em;
}
.font-size-1-5-em {
  font-size: 1.5em;
}
.font-size-1-75-em {
  font-size: 1.75em;
}
.font-size-2em {
  font-size: 2em;
}
.font-size-2-25-em {
  font-size: 2.25em;
}
.font-size-2-5-em {
  font-size: 2.5em;
}
.font-size-2-75-em {
  font-size: 2.75em;
}
.font-size-3em {
  font-size: 3em;
}
.font-size-3-25-em {
  font-size: 3.25em;
}
.font-size-3-5-em {
  font-size: 3.5em;
}
.font-size-3-75-em {
  font-size: 3.75em;
}
.font-size-4em {
  font-size: 4em;
}
.font-size-4-25-em {
  font-size: 4.25em;
}
.font-size-4-5-em {
  font-size: 4.5em;
}
.font-size-4-75-em {
  font-size: 4.75em;
}
.font-size-5em {
  font-size: 5em;
}
.font-size-5-25-em {
  font-size: 5.25em;
}
.font-size-5-5-em {
  font-size: 5.5em;
}
.font-size-5-75-em {
  font-size: 5.75em;
}
.font-size-6em {
  font-size: 6em;
}
.font-size-6-25-em {
  font-size: 6.25em;
}
.font-size-6-5-em {
  font-size: 6.5em;
}
.font-size-6-75-em {
  font-size: 6.75em;
}
.font-size-7em {
  font-size: 7em;
}
.font-size-7-25-em {
  font-size: 7.25em;
}
.font-size-7-5-em {
  font-size: 7.5em;
}
.font-size-7-75-em {
  font-size: 7.75em;
}
.font-size-8em {
  font-size: 8em;
}
.font-size-8-25-em {
  font-size: 8.25em;
}
.font-size-8-5-em {
  font-size: 8.5em;
}
.font-size-8-75-em {
  font-size: 8.75em;
}
.font-size-9em {
  font-size: 9em;
}
.font-size-9-25-em {
  font-size: 9.25em;
}
.font-size-9-5-em {
  font-size: 9.5em;
}
.font-size-9-75-em {
  font-size: 9.75em;
}
.font-size-10em {
  font-size: 10em;
}
.font-size-10-25-em {
  font-size: 10.25em;
}
.font-size-10-5-em {
  font-size: 10.5em;
}
.font-size-10-75-em {
  font-size: 10.75em;
}
.font-size-11em {
  font-size: 11em;
}
.font-size-11-25-em {
  font-size: 11.25em;
}
.font-size-11-5-em {
  font-size: 11.5em;
}
.font-size-11-75-em {
  font-size: 11.75em;
}
.font-size-12em {
  font-size: 12em;
}
.font-size-12-25-em {
  font-size: 12.25em;
}
.font-size-12-5-em {
  font-size: 12.5em;
}
.font-size-12-75-em {
  font-size: 12.75em;
}
.font-size-13em {
  font-size: 13em;
}
.font-size-13-25-em {
  font-size: 13.25em;
}
.font-size-13-5-em {
  font-size: 13.5em;
}
.font-size-13-75-em {
  font-size: 13.75em;
}
.font-size-14em {
  font-size: 14em;
}
.font-size-14-25-em {
  font-size: 14.25em;
}
.font-size-14-5-em {
  font-size: 14.5em;
}
.font-size-14-75-em {
  font-size: 14.75em;
}
.font-size-15em {
  font-size: 15em;
}
.font-size-15-25-em {
  font-size: 15.25em;
}
.font-size-15-5-em {
  font-size: 15.5em;
}
.font-size-15-75-em {
  font-size: 15.75em;
}
.font-size-16em {
  font-size: 16em;
}
.font-size-16-25-em {
  font-size: 16.25em;
}
.font-size-16-5-em {
  font-size: 16.5em;
}
.font-size-16-75-em {
  font-size: 16.75em;
}
.font-size-17em {
  font-size: 17em;
}
.font-size-17-25-em {
  font-size: 17.25em;
}
.font-size-17-5-em {
  font-size: 17.5em;
}
.font-size-17-75-em {
  font-size: 17.75em;
}
.font-size-18em {
  font-size: 18em;
}
.font-size-18-25-em {
  font-size: 18.25em;
}
.font-size-18-5-em {
  font-size: 18.5em;
}
.font-size-18-75-em {
  font-size: 18.75em;
}
.font-size-19em {
  font-size: 19em;
}
.font-size-19-25-em {
  font-size: 19.25em;
}
.font-size-19-5-em {
  font-size: 19.5em;
}
.font-size-19-75-em {
  font-size: 19.75em;
}
.font-size-20em {
  font-size: 20em;
}
.font-size-20-25-em {
  font-size: 20.25em;
}
.font-size-20-5-em {
  font-size: 20.5em;
}
.font-size-20-75-em {
  font-size: 20.75em;
}
.font-size-21em {
  font-size: 21em;
}
.font-size-21-25-em {
  font-size: 21.25em;
}
.font-size-21-5-em {
  font-size: 21.5em;
}
.font-size-21-75-em {
  font-size: 21.75em;
}
.font-size-22em {
  font-size: 22em;
}
.font-size-22-25-em {
  font-size: 22.25em;
}
.font-size-22-5-em {
  font-size: 22.5em;
}
.font-size-22-75-em {
  font-size: 22.75em;
}
.font-size-23em {
  font-size: 23em;
}
.font-size-23-25-em {
  font-size: 23.25em;
}
.font-size-23-5-em {
  font-size: 23.5em;
}
.font-size-23-75-em {
  font-size: 23.75em;
}
.font-size-24em {
  font-size: 24em;
}
.font-size-24-25-em {
  font-size: 24.25em;
}
.font-size-24-5-em {
  font-size: 24.5em;
}
.font-size-24-75-em {
  font-size: 24.75em;
}
.font-size-25em {
  font-size: 25em;
}
.font-size-25-25-em {
  font-size: 25.25em;
}
.font-size-25-5-em {
  font-size: 25.5em;
}
.font-size-25-75-em {
  font-size: 25.75em;
}
.font-size-26em {
  font-size: 26em;
}
.font-size-26-25-em {
  font-size: 26.25em;
}
.font-size-26-5-em {
  font-size: 26.5em;
}
.font-size-26-75-em {
  font-size: 26.75em;
}
.font-size-27em {
  font-size: 27em;
}
.font-size-27-25-em {
  font-size: 27.25em;
}
.font-size-27-5-em {
  font-size: 27.5em;
}
.font-size-27-75-em {
  font-size: 27.75em;
}
.font-size-28em {
  font-size: 28em;
}
.font-size-28-25-em {
  font-size: 28.25em;
}
.font-size-28-5-em {
  font-size: 28.5em;
}
.font-size-28-75-em {
  font-size: 28.75em;
}
.font-size-29em {
  font-size: 29em;
}
.font-size-29-25-em {
  font-size: 29.25em;
}
.font-size-29-5-em {
  font-size: 29.5em;
}
.font-size-29-75-em {
  font-size: 29.75em;
}
.font-size-30em {
  font-size: 30em;
}
