.background-color-red {
  background-color: red;
}
.background-color-blue {
  background-color: blue;
}
.background-color-green {
  background-color: green;
}
.background-color-yellow {
  background-color: yellow;
}
.background-color-black {
  background-color: black;
}
.background-color-white {
  background-color: white;
}
.background-color-gray {
  background-color: gray;
}
.background-color-orange {
  background-color: orange;
}
.background-color-purple {
  background-color: purple;
}
.background-color-pink {
  background-color: pink;
}
.background-color-brown {
  background-color: brown;
}
.background-color-cyan {
  background-color: cyan;
}
.background-color-magenta {
  background-color: magenta;
}
.background-color-lime {
  background-color: lime;
}
.background-color-teal {
  background-color: teal;
}
.background-color-navy {
  background-color: navy;
}
.background-color-maroon {
  background-color: maroon;
}
.background-color-olive {
  background-color: olive;
}
.background-color-silver {
  background-color: silver;
}
.background-color-gold {
  background-color: gold;
}
.background-color-beige {
  background-color: beige;
}
.background-color-tan {
  background-color: tan;
}
.background-color-ivory {
  background-color: ivory;
}
.background-color-violet {
  background-color: violet;
}
.background-color-indigo {
  background-color: indigo;
}
.background-color-azure {
  background-color: azure;
}
.background-color-coral {
  background-color: coral;
}
.background-color-chartreuse {
  background-color: chartreuse;
}
